<section class="hero-section">
    <div class="hero-content">
        <h1>Bienvenue chez Fardihosting</h1>
        <p>votre solution idéale pour un hébergement de qualité!</p>
        <div class="cta-buttons">
            <a href="/minebox" style="text-decoration: none;" class="cta-primary"><i class="bi bi-box"></i> MineBox</a>
            <a href="/webcloud" style="text-decoration: none;" class="cta-secondary"><i class="bi bi-cloud"></i> WebCoud</a>
        </div>
    </div>
</section>