<section class="pricing-section">
    <div class="text-center mb-20">
        <h1 class="title">Our offers</h1>
        
        <div class="separator-container">
            <div class="separator"></div>
        </div>
    </div>
    <br>
    <div class="pricing-container">
        <div class="pricing-card creeper">
            <div class="offer --sf" data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">
                        <svg width="116px" height="116px" viewBox="0 0 116 116" version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M49.6208 12.7075L28.0148 0L6.38051 12.7075L28.0148 25.428L49.6208 12.7075ZM11.1411 42.4621L22.5998 49.1929L27.372 52.0044L27.372 26.562L5.73642 13.8415L5.73642 39.2708L11.1411 42.4608L11.1411 42.4621ZM44.8576 42.4634L28.6576 52.0044L28.6576 26.562L50.2636 13.8415L50.2636 39.2708L44.8602 42.4608L44.8576 42.4634ZM11.4613 44.1618L21.6356 50.1384L21.6356 89.0582L11.4613 83.0685L11.4613 44.1618ZM44.5401 44.1618L44.5388 44.1625L44.5388 44.1618L44.5401 44.1618ZM44.5388 44.1625L44.5388 76.3363L33.4002 82.8787C33.3989 82.8787 33.3989 82.8799 33.3977 82.8812L22.9199 89.0582L22.9199 50.894L27.6908 53.7055L27.6934 53.7055C27.7024 53.7107 27.7152 53.7107 27.7255 53.7159C27.813 53.7605 27.9068 53.7919 28.0109 53.7919L28.0161 53.7919C28.1202 53.7919 28.2153 53.7605 28.3015 53.7159C28.3105 53.7107 28.3233 53.7107 28.3336 53.7055L28.3362 53.7055L44.5388 44.1625ZM0.642809 76.7135L10.1756 71.1036L10.1756 82.313L0.642809 76.7135ZM35.0085 83.447L45.1829 89.4366L55.3572 83.447L45.1829 77.4691L35.0085 83.447ZM10.1756 83.8254L0 77.8475L0 96.5473L10.1756 102.523L10.1756 83.8254ZM33.7229 96.1688L23.5627 90.1922L33.7229 84.2026L43.8972 90.1922L33.7229 96.1688ZM56 103.278L45.8257 109.268L45.8257 90.5707L56 84.581L56 103.278ZM21.6356 96.5473L11.4613 102.523L11.4613 84.581L21.6356 90.5707L21.6356 96.5473ZM22.9212 91.3263L22.9212 110.025L33.0801 116L33.0801 97.3029L22.9212 91.3263ZM44.5401 110.023L44.5401 91.3263L34.3657 97.3042L34.3657 116L44.5401 110.023Z"
                                id="Group" fill="#375C34" fill-rule="evenodd" stroke="none"
                                clip-path="url(#clip_2)" transform="translate(30 0)"></path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center"><span class="--laf">Game</span> Server</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">2x Xeon E52667 v2</div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            4 GB
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Disk space</span>
                        </div>
                        <div class="value">20 GO</div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.5 6C9.467 6 7 8.467 7 11.5L7 14.5C7 16.077 7.66933 17.496 8.73633 18.5C7.66933 19.504 7 20.923 7 22.5L7 25.5C7 27.077 7.66933 28.496 8.73633 29.5C7.66933 30.504 7 31.923 7 33.5L7 36.5C7 39.533 9.467 42 12.5 42L25.0566 42C24.4626 41.073 23.9798 40.068 23.6348 39L12.5 39C11.122 39 10 37.878 10 36.5L10 36L23.0508 36C23.0248 35.669 23 35.338 23 35C23 32.42 23.7606 30.022 25.0566 28L12.5 28C11.122 28 10 26.878 10 25.5L10 25L27.6953 25C29.9473 23.128 32.842 22 36 22C37.772 22 39.46 22.357 41 23L41 22.5C41 20.923 40.3307 19.504 39.2637 18.5C40.3307 17.496 41 16.077 41 14.5L41 11.5C41 8.467 38.533 6 35.5 6L12.5 6L12.5 6ZM10 14L38 14L38 14.5C38 15.878 36.878 17 35.5 17L12.5 17C11.122 17 10 15.878 10 14.5L10 14L10 14ZM36 24C35.413 24 34.8383 24.0495 34.2773 24.1445L33.9316 25.5762C33.3946 27.8012 31.1052 29.1236 28.9102 28.4746L27.7051 28.1172C26.9811 29.0502 26.401 30.1108 26 31.2578L26.8945 32.1172C28.5295 33.6912 28.5295 36.3088 26.8945 37.8828L26 38.7422C26.401 39.8892 26.9801 40.9488 27.7051 41.8828L28.9102 41.5254C31.1052 40.8764 33.3946 42.1988 33.9316 44.4238L34.2773 45.8555C34.8383 45.9505 35.414 46 36 46C36.587 46 37.1617 45.9505 37.7227 45.8555L38.0684 44.4238C38.6054 42.1988 40.8948 40.8764 43.0898 41.5254L44.2949 41.8828C45.0189 40.9498 45.599 39.8892 46 38.7422L45.1055 37.8828C43.4705 36.3098 43.4705 33.6902 45.1055 32.1172L46 31.2578C45.599 30.1108 45.0199 29.0512 44.2949 28.1172L43.0898 28.4746C40.8948 29.1236 38.6054 27.8012 38.0684 25.5762L37.7227 24.1445C37.1617 24.0495 36.587 24 36 24L36 24ZM36 32C37.657 32 39 33.343 39 35C39 36.657 37.657 38 36 38C34.343 38 33 36.657 33 35C33 33.343 34.343 32 36 32L36 32Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>SQL Basics</span>
                        </div>
                        <div class="value">2</div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value">1GBP/s max</div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>L4 Anti-DDoS Protection</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">1,99</span>$ <span
                            class="period --period">/month</span> </span>

                </div>
                <a href="/srvgames" class="btn-commander">more</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span></div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            2x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            4 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Disk space</span>
                        </div>
                        <div class="value"> 40 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32"
                                    width="18" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 4 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>L4 Anti-DDoS Protection</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">2,99</span>$ <span
                            class="period --period">/month</span> </span>

                </div>
                <a href="/minebox" class="btn-commander">more</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --web" data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-cloud-fill" viewBox="0 0 16 16">
                            <path fill="#782f37"
                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Web<span class="--t">Cloud</span></div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg height="18px" width="18px" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                    xml:space="preserve">

                                    <path style="fill:#ffffff;"
                                        d="M512,256c0-68.38-26.63-132.668-74.981-181.019C388.668,26.629,324.38,0,256,0  C187.619,0,123.332,26.629,74.98,74.981C26.629,123.332,0,187.62,0,256s26.629,132.668,74.981,181.02  C123.332,485.371,187.619,512,256,512c68.38,0,132.668-26.629,181.019-74.98C485.37,388.668,512,324.38,512,256z M471.909,343.53  c-19.928-18.858-45.447-32.163-73.256-41.424c1.522-15.065,2.31-30.482,2.31-46.11c0-15.627-0.788-31.041-2.31-46.105  c27.808-9.262,53.326-22.568,73.253-41.428c11.004,27.041,17.084,56.59,17.084,87.537  C488.989,286.944,482.91,316.491,471.909,343.53z M134.044,255.997c0-13.405,0.605-26.63,1.778-39.577  c36.192,9.092,74.607,12.428,108.671,13.017v53.127c-34.062,0.589-72.477,3.926-108.671,13.015  C134.649,282.631,134.044,269.404,134.044,255.997z M244.492,487.923c-27.028-4.988-52.52-27.467-72.765-64.557  c-0.366-0.67-0.72-1.354-1.082-2.031c23.512-16.669,48.395-26.35,73.846-28.595V487.923z M267.503,392.742  c25.452,2.244,50.336,11.923,73.846,28.593c-0.361,0.678-0.717,1.362-1.083,2.033c-20.244,37.088-45.737,59.569-72.764,64.557  L267.503,392.742L267.503,392.742z M267.503,24.069c27.027,4.988,52.52,27.469,72.764,64.557c0.366,0.67,0.72,1.353,1.082,2.03  c-23.508,16.669-48.391,26.35-73.845,28.593L267.503,24.069L267.503,24.069z M244.492,119.248  c-25.452-2.245-50.336-11.927-73.844-28.596c0.36-0.675,0.715-1.358,1.079-2.026c20.245-37.088,45.737-59.569,72.765-64.557V119.248  z M267.503,142.33c29.093-2.161,57.341-12.516,83.846-30.581c10.24,24.369,17.697,51.963,22.064,81.453  c-30.339,7.986-65.981,12.485-105.91,13.207V142.33L267.503,142.33z M359.606,76.051c-8.943-16.111-18.913-29.839-29.674-41.011  c17.006,5.704,33.138,13.326,48.15,22.598C372.056,64.299,365.89,70.433,359.606,76.051z M152.391,76.048  c-6.283-5.617-12.448-11.75-18.472-18.408c15.009-9.271,31.139-16.891,48.142-22.596C171.3,46.213,161.333,59.94,152.391,76.048z   M244.492,142.33v64.079c-39.929-0.723-75.572-5.221-105.912-13.208c4.368-29.491,11.824-57.085,22.064-81.454  C187.152,129.813,215.399,140.168,244.492,142.33z M244.492,305.59v64.069c-29.091,2.162-57.339,12.518-83.847,30.583  c-10.239-24.368-17.696-51.958-22.063-81.446C168.921,310.81,204.564,306.313,244.492,305.59z M152.394,435.933  c8.943,16.109,18.905,29.851,29.665,41.024c-17.008-5.707-33.142-13.329-48.154-22.604  C139.936,447.689,146.105,441.553,152.394,435.933z M359.601,435.929c6.29,5.622,12.462,11.759,18.492,18.424  c-15.015,9.276-31.15,16.899-48.161,22.606C340.694,465.785,350.658,452.041,359.601,435.929z M267.503,369.658v-64.069  c39.928,0.723,75.57,5.22,105.909,13.205c-4.368,29.488-11.823,57.078-22.062,81.445  C324.842,382.175,296.594,371.82,267.503,369.658z M267.503,282.564v-53.127c34.062-0.588,72.477-3.926,108.669-13.016  c1.172,12.946,1.778,26.171,1.778,39.576c0,13.408-0.605,26.633-1.778,39.582C339.979,286.489,301.566,283.152,267.503,282.564z   M461.504,146.317c-0.075,0.077-0.156,0.144-0.23,0.223c-15.45,16.585-37.696,29.965-65.643,39.852  c-5.066-32.301-13.662-62.5-25.437-89.027c9.267-7.87,18.272-16.743,26.983-26.577C423.646,91.013,445.669,116.767,461.504,146.317z   M114.821,70.789c8.71,9.833,17.715,18.705,26.98,26.573c-11.776,26.527-20.372,56.726-25.438,89.028  c-27.946-9.887-50.19-23.266-65.638-39.851c-0.074-0.079-0.154-0.146-0.229-0.222C66.331,116.767,88.354,91.014,114.821,70.789z   M40.095,168.463c19.925,18.859,45.443,32.164,73.248,41.426c-1.522,15.064-2.31,30.48-2.31,46.106  c0,15.629,0.788,31.046,2.31,46.112c-27.807,9.261-53.325,22.565-73.252,41.421C29.09,316.491,23.011,286.944,23.011,256  C23.011,225.053,29.091,195.505,40.095,168.463z M50.491,365.675c0.076-0.077,0.158-0.145,0.232-0.226  c15.45-16.582,37.695-29.958,65.641-39.844c5.066,32.297,13.662,62.494,25.434,89.019c-9.268,7.87-18.277,16.743-26.989,26.577  C88.345,420.977,66.325,395.224,50.491,365.675z M397.189,441.202c-8.714-9.835-17.723-18.709-26.992-26.58  c11.774-26.525,20.368-56.72,25.433-89.018c27.947,9.884,50.194,23.262,65.645,39.845c0.075,0.081,0.156,0.147,0.234,0.226  C445.675,395.225,423.654,420.978,397.189,441.202z" />
                                </svg>
                            </i>
                            <span>Domaines</span>
                        </div>
                        <div class="value">
                            5
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg fill="#fff" height="18px" width="18px" version="1.2" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 75.294 75.294"
                                    xml:space="preserve">
                                    <g>
                                        <path
                                            d="M66.097,12.089h-56.9C4.126,12.089,0,16.215,0,21.286v32.722c0,5.071,4.126,9.197,9.197,9.197h56.9   c5.071,0,9.197-4.126,9.197-9.197V21.287C75.295,16.215,71.169,12.089,66.097,12.089z M61.603,18.089L37.647,33.523L13.691,18.089   H61.603z M66.097,57.206h-56.9C7.434,57.206,6,55.771,6,54.009V21.457l29.796,19.16c0.04,0.025,0.083,0.042,0.124,0.065   c0.043,0.024,0.087,0.047,0.131,0.069c0.231,0.119,0.469,0.215,0.712,0.278c0.025,0.007,0.05,0.01,0.075,0.016   c0.267,0.063,0.537,0.102,0.807,0.102c0.001,0,0.002,0,0.002,0c0.002,0,0.003,0,0.004,0c0.27,0,0.54-0.038,0.807-0.102   c0.025-0.006,0.05-0.009,0.075-0.016c0.243-0.063,0.48-0.159,0.712-0.278c0.044-0.022,0.088-0.045,0.131-0.069   c0.041-0.023,0.084-0.04,0.124-0.065l29.796-19.16v32.551C69.295,55.771,67.86,57.206,66.097,57.206z" />
                                    </g>
                                </svg>
                            </i>
                            <span>Boites mail</span>
                        </div>
                        <div class="value">
                            3
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Disk space</span>
                        </div>
                        <div class="value"> 5 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.5 6C9.467 6 7 8.467 7 11.5L7 14.5C7 16.077 7.66933 17.496 8.73633 18.5C7.66933 19.504 7 20.923 7 22.5L7 25.5C7 27.077 7.66933 28.496 8.73633 29.5C7.66933 30.504 7 31.923 7 33.5L7 36.5C7 39.533 9.467 42 12.5 42L25.0566 42C24.4626 41.073 23.9798 40.068 23.6348 39L12.5 39C11.122 39 10 37.878 10 36.5L10 36L23.0508 36C23.0248 35.669 23 35.338 23 35C23 32.42 23.7606 30.022 25.0566 28L12.5 28C11.122 28 10 26.878 10 25.5L10 25L27.6953 25C29.9473 23.128 32.842 22 36 22C37.772 22 39.46 22.357 41 23L41 22.5C41 20.923 40.3307 19.504 39.2637 18.5C40.3307 17.496 41 16.077 41 14.5L41 11.5C41 8.467 38.533 6 35.5 6L12.5 6L12.5 6ZM10 14L38 14L38 14.5C38 15.878 36.878 17 35.5 17L12.5 17C11.122 17 10 15.878 10 14.5L10 14L10 14ZM36 24C35.413 24 34.8383 24.0495 34.2773 24.1445L33.9316 25.5762C33.3946 27.8012 31.1052 29.1236 28.9102 28.4746L27.7051 28.1172C26.9811 29.0502 26.401 30.1108 26 31.2578L26.8945 32.1172C28.5295 33.6912 28.5295 36.3088 26.8945 37.8828L26 38.7422C26.401 39.8892 26.9801 40.9488 27.7051 41.8828L28.9102 41.5254C31.1052 40.8764 33.3946 42.1988 33.9316 44.4238L34.2773 45.8555C34.8383 45.9505 35.414 46 36 46C36.587 46 37.1617 45.9505 37.7227 45.8555L38.0684 44.4238C38.6054 42.1988 40.8948 40.8764 43.0898 41.5254L44.2949 41.8828C45.0189 40.9498 45.599 39.8892 46 38.7422L45.1055 37.8828C43.4705 36.3098 43.4705 33.6902 45.1055 32.1172L46 31.2578C45.599 30.1108 45.0199 29.0512 44.2949 28.1172L43.0898 28.4746C40.8948 29.1236 38.6054 27.8012 38.0684 25.5762L37.7227 24.1445C37.1617 24.0495 36.587 24 36 24L36 24ZM36 32C37.657 32 39 33.343 39 35C39 36.657 37.657 38 36 38C34.343 38 33 36.657 33 35C33 33.343 34.343 32 36 32L36 32Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>SQL Basics</span>
                        </div>
                        <div class="value"> 3 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Included</span>
                        </div>
                        <div class="value"> SSL Let's Encrypt
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>L4 Anti-DDoS Protection</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">0,99</span>$<span
                            class="period --period">/month</span> </span>

                </div>
                <a href="/webcloud" class="btn-commander">more</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --vps" data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-hdd-fill" viewBox="0 0 16 16">
                            <path fill="#a39f1d"
                                d="M0 10a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M.91 7.204A3 3 0 0 1 2 7h12c.384 0 .752.072 1.09.204l-1.867-3.422A1.5 1.5 0 0 0 11.906 3H4.094a1.5 1.5 0 0 0-1.317.782z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">VPS<span class="--t"> Games</span></div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            2x RYZEN 9 7950X3D
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            8 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Disk space</span>
                        </div>
                        <div class="value"> 50 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.5 6C9.467 6 7 8.467 7 11.5L7 14.5C7 16.077 7.66933 17.496 8.73633 18.5C7.66933 19.504 7 20.923 7 22.5L7 25.5C7 27.077 7.66933 28.496 8.73633 29.5C7.66933 30.504 7 31.923 7 33.5L7 36.5C7 39.533 9.467 42 12.5 42L25.0566 42C24.4626 41.073 23.9798 40.068 23.6348 39L12.5 39C11.122 39 10 37.878 10 36.5L10 36L23.0508 36C23.0248 35.669 23 35.338 23 35C23 32.42 23.7606 30.022 25.0566 28L12.5 28C11.122 28 10 26.878 10 25.5L10 25L27.6953 25C29.9473 23.128 32.842 22 36 22C37.772 22 39.46 22.357 41 23L41 22.5C41 20.923 40.3307 19.504 39.2637 18.5C40.3307 17.496 41 16.077 41 14.5L41 11.5C41 8.467 38.533 6 35.5 6L12.5 6L12.5 6ZM10 14L38 14L38 14.5C38 15.878 36.878 17 35.5 17L12.5 17C11.122 17 10 15.878 10 14.5L10 14L10 14ZM36 24C35.413 24 34.8383 24.0495 34.2773 24.1445L33.9316 25.5762C33.3946 27.8012 31.1052 29.1236 28.9102 28.4746L27.7051 28.1172C26.9811 29.0502 26.401 30.1108 26 31.2578L26.8945 32.1172C28.5295 33.6912 28.5295 36.3088 26.8945 37.8828L26 38.7422C26.401 39.8892 26.9801 40.9488 27.7051 41.8828L28.9102 41.5254C31.1052 40.8764 33.3946 42.1988 33.9316 44.4238L34.2773 45.8555C34.8383 45.9505 35.414 46 36 46C36.587 46 37.1617 45.9505 37.7227 45.8555L38.0684 44.4238C38.6054 42.1988 40.8948 40.8764 43.0898 41.5254L44.2949 41.8828C45.0189 40.9498 45.599 39.8892 46 38.7422L45.1055 37.8828C43.4705 36.3098 43.4705 33.6902 45.1055 32.1172L46 31.2578C45.599 30.1108 45.0199 29.0512 44.2949 28.1172L43.0898 28.4746C40.8948 29.1236 38.6054 27.8012 38.0684 25.5762L37.7227 24.1445C37.1617 24.0495 36.587 24 36 24L36 24ZM36 32C37.657 32 39 33.343 39 35C39 36.657 37.657 38 36 38C34.343 38 33 36.657 33 35C33 33.343 34.343 32 36 32L36 32Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>installation included*</span>
                        </div>
                        <div class="value">Pterodactyl</div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>L4 Anti-DDoS Protection</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">7,99</span>$ <span
                            class="period --period">/month</span> </span>

                </div>
                <a href="/vps" class="btn-commander">more</a>
            </div>
        </div>
    </div>
</section>