<section class="hero-section">
    <div class="hero-content">
        <h1>Soon...</h1>

        <div class="cta-buttons">
            <a href="/" class="cta-primary">Home</a>
        </div>
    </div>
</section>