<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img width="190px" src="/assets/img/nodm.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li>
                        <a class="nav-link" href="/"><i class="bi bi-layers"></i> Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/minebox"><i class="bi bi-box"></i> MineBox</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/srvgames"><i class="bi bi-hdd-stack"></i> Game Server</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/webcloud"><i class="bi bi-cloud"></i> WebCloud</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/vps"><i class="bi bi-hdd"></i> VPS</a>
                    </li>

                </ul>
                <div class=" d-lg-flex collapse ms-3"id="navbarNav">
                    <button class="btn f btn-light"><i class="bi bi-person"></i> Client Area</button>

                    <a href="/change-lang/fr" class="btn "><img height="20px" src="/assets/img/france.png"></a>
                </div>
            </div>
        </div>
    </nav>
</header>
