<div id="waitingContainer" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div id="waitingContent" style="padding-top: 25vh;" class="flex flex-col items-center justify-center text-center">
        <div class="waitingSpinner border-t-4 border-blue-500 rounded-full w-16 h-16 animate-spin mb-4"></div>
        <div id="waitingTextContainer">
            <h2 class="text-2xl font-bold text-white animate-pulse"><%- lang('waiting.waitingText') %></h2>
        </div>
    </div>
</div>