<section class="pricing-section">
    <div class="text-center mb-20">
        <h1 class="title">Nos offres</h1>

        <div class="separator-container">
            <div class="separator"></div>
        </div>
    </div>
    <br>
    <div class="pricing-container">

        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span> 1</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            2x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            4 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Espace disque</span>
                        </div>
                        <div class="value"> 40 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 4 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>Protection</span> <span>Anti DDoS L4</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">2,99</span>€ <span class="period --period">/mois</span>
                    </span>

                </div>
                <a href="https://clients.fardihosting.fr/store/basket/config/12" class="btn-commander">Ajouter au
                    panier</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span> 2</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            4x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            8 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Espace disque</span>
                        </div>
                        <div class="value"> 65 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 8 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>Protection</span> <span>Anti DDoS L4</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">4,99</span>€ <span class="period --period">/mois</span>
                    </span>

                </div>
                <a href="https://clients.fardihosting.fr/store/basket/config/13" class="btn-commander">Ajouter au
                    panier</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span> 3</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            4x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            16 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Espace disque</span>
                        </div>
                        <div class="value"> 85 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 16 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>Protection</span> <span>Anti DDoS L4</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">9,99</span>€ <span class="period --period">/mois</span>
                    </span>

                </div>
                <a href="https://clients.fardihosting.fr/store/basket/config/14" class="btn-commander">Ajouter au
                    panier</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span> 4</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            5x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            24 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Espace disque</span>
                        </div>
                        <div class="value"> 100 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 24 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>Protection</span> <span>Anti DDoS L4</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">
                            12,99</span>€ <span class="period --period">/mois</span>
                    </span>

                </div>
                <a href="https://clients.fardihosting.fr/store/basket/config/15" class="btn-commander">Ajouter au
                    panier</a>
            </div>
        </div>
        <div class="pricing-card creeper">
            <div class="offer --mb " data-tint="95, 191, 81" style="--tint: 95, 191, 81;">
                <div class="image">
                    <i class="pico pico-svg --icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="116px" height="116px" fill="currentColor"
                            class="bi bi-box-fill" viewBox="0 0 16 16">
                            <path fill="#2f4078" fill-rule="evenodd"
                                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="data">
                    <div class="title --center">Mine<span class="--t">Box</span> 5</div>
                </div>
                <div class="cspec">
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 6L11.5 6C8.468 6 6 8.467 6 11.5L6 36.5C6 39.533 8.468 42 11.5 42L36.5 42C39.532 42 42 39.533 42 36.5L42 11.5C42 8.467 39.532 6 36.5 6L36.5 6ZM24 11C24.828 11 25.5 11.672 25.5 12.5C25.5 13.328 24.828 14 24 14C23.172 14 22.5 13.328 22.5 12.5C22.5 11.672 23.172 11 24 11L24 11ZM18.5 11C19.328 11 20 11.672 20 12.5C20 13.328 19.328 14 18.5 14C17.672 14 17 13.328 17 12.5C17 11.672 17.672 11 18.5 11L18.5 11ZM12.5 31C11.672 31 11 30.328 11 29.5C11 28.672 11.672 28 12.5 28C13.328 28 14 28.672 14 29.5C14 30.328 13.328 31 12.5 31L12.5 31ZM12.5 25.5C11.672 25.5 11 24.828 11 24C11 23.172 11.672 22.5 12.5 22.5C13.328 22.5 14 23.172 14 24C14 24.828 13.328 25.5 12.5 25.5L12.5 25.5ZM12.5 20C11.672 20 11 19.328 11 18.5C11 17.672 11.672 17 12.5 17C13.328 17 14 17.672 14 18.5C14 19.328 13.328 20 12.5 20L12.5 20ZM18.5 37C17.672 37 17 36.328 17 35.5C17 34.672 17.672 34 18.5 34C19.328 34 20 34.672 20 35.5C20 36.328 19.328 37 18.5 37L18.5 37ZM18 27.5L18 20.5C18 19.122 19.121 18 20.5 18L27.5 18C28.879 18 30 19.122 30 20.5L30 27.5C30 28.878 28.879 30 27.5 30L20.5 30C19.121 30 18 28.878 18 27.5L18 27.5ZM24 37C23.172 37 22.5 36.328 22.5 35.5C22.5 34.672 23.172 34 24 34C24.828 34 25.5 34.672 25.5 35.5C25.5 36.328 24.828 37 24 37L24 37ZM29.5 37C28.672 37 28 36.328 28 35.5C28 34.672 28.672 34 29.5 34C30.328 34 31 34.672 31 35.5C31 36.328 30.328 37 29.5 37L29.5 37ZM29.5 14C28.672 14 28 13.328 28 12.5C28 11.672 28.672 11 29.5 11C30.328 11 31 11.672 31 12.5C31 13.328 30.328 14 29.5 14L29.5 14ZM35.5 31C34.672 31 34 30.328 34 29.5C34 28.672 34.672 28 35.5 28C36.328 28 37 28.672 37 29.5C37 30.328 36.328 31 35.5 31L35.5 31ZM35.5 25.5C34.672 25.5 34 24.828 34 24C34 23.172 34.672 22.5 35.5 22.5C36.328 22.5 37 23.172 37 24C37 24.828 36.328 25.5 35.5 25.5L35.5 25.5ZM35.5 20C34.672 20 34 19.328 34 18.5C34 17.672 34.672 17 35.5 17C36.328 17 37 17.672 37 18.5C37 19.328 36.328 20 35.5 20L35.5 20Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>CPU</span>
                        </div>
                        <div class="value">
                            6x Xeon E52667 v2
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45 28L45 13.5C45 11.019 42.981 9 40.5 9L7.5 9C5.019 9 3 11.019 3 13.5L3 28L45 28L45 28ZM35 15C35 14.448 35.448 14 36 14L39 14C39.552 14 40 14.448 40 15L40 24C40 24.552 39.552 25 39 25L36 25C35.448 25 35 24.552 35 24L35 15L35 15ZM26 15C26 14.448 26.448 14 27 14L30 14C30.552 14 31 14.448 31 15L31 24C31 24.552 30.552 25 30 25L27 25C26.448 25 26 24.552 26 24L26 15L26 15ZM17 15C17 14.448 17.448 14 18 14L21 14C21.552 14 22 14.448 22 15L22 24C22 24.552 21.552 25 21 25L18 25C17.448 25 17 24.552 17 24L17 15L17 15ZM8 15C8 14.448 8.448 14 9 14L12 14C12.552 14 13 14.448 13 15L13 24C13 24.552 12.552 25 12 25L9 25C8.448 25 8 24.552 8 24L8 15L8 15ZM3 31L3 34.5C3 36.981 5.019 39 7.5 39L8 39L8 35.5C8 34.671 8.671 34 9.5 34C10.329 34 11 34.671 11 35.5L11 39L14 39L14 35.5C14 34.671 14.671 34 15.5 34C16.329 34 17 34.671 17 35.5L17 39L19.5 39C20.329 39 21 38.329 21 37.5C21 35.846 22.346 34.5 24 34.5C25.654 34.5 27 35.846 27 37.5C27 38.329 27.671 39 28.5 39L31 39L31 35.5C31 34.671 31.671 34 32.5 34C33.329 34 34 34.671 34 35.5L34 39L37 39L37 35.5C37 34.671 37.671 34 38.5 34C39.329 34 40 34.671 40 35.5L40 39L40.5 39C42.981 39 45 36.981 45 34.5L45 31L3 31L3 31Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>RAM</span>
                        </div>
                        <div class="value">
                            32 GO
                        </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5 6C8.467 6 6 8.467 6 11.5L6 36.5C6 39.533 8.467 42 11.5 42L12 42L12 27.5C12 25.57 13.57 24 15.5 24L32.5 24C34.43 24 36 25.57 36 27.5L36 42L36.5 42C39.533 42 42 39.533 42 36.5L42 15.5C42 15.072 41.8161 14.6639 41.4961 14.3789L32.4961 6.37891C32.3501 6.24891 32.181 6.1558 32 6.0918L32 14.5C32 16.43 30.43 18 28.5 18L16.5 18C14.57 18 13 16.43 13 14.5L13 6L11.5 6L11.5 6ZM16 6L16 14.5C16 14.776 16.224 15 16.5 15L28.5 15C28.776 15 29 14.776 29 14.5L29 6L16 6L16 6ZM15.5 27C15.224 27 15 27.224 15 27.5L15 42L33 42L33 27.5C33 27.224 32.776 27 32.5 27L15.5 27L15.5 27Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Espace disque</span>
                        </div>
                        <div class="value"> 125 GO </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg enable-background="new 0 0 32 32" height="18" viewBox="0 0 32 32" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_1">
                                        <g fill="#fff">
                                            <path
                                                d="m28.798 15c1.214 0 2.202-.988 2.202-2.202v-7.596c0-1.214-.988-2.202-2.202-2.202h-25.596c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h.798v2h-.798c-1.214 0-2.202.988-2.202 2.202v7.597c0 1.213.988 2.201 2.202 2.201h25.597c1.213 0 2.201-.988 2.201-2.202v-7.597c0-1.213-.988-2.201-2.202-2.201h-.798v-2zm-25.798-2.202v-7.596c0-.112.09-.202.202-.202h25.597c.111 0 .201.09.201.202v7.597c0 .111-.09.201-.202.201h-1.798-22-1.798c-.112 0-.202-.09-.202-.202zm26 6.404v7.597c0 .111-.09.201-.202.201h-25.596c-.112 0-.202-.09-.202-.202v-7.597c0-.111.09-.201.202-.201h1.798 22 1.798c.112 0 .202.09.202.202zm-3-2.202h-20v-2h20z" />
                                            <circle cx="14" cy="23" r="1" />
                                            <circle cx="10" cy="23" r="1" />
                                            <circle cx="6" cy="23" r="1" />
                                            <path
                                                d="m26 22h-7c-.552 0-1 .448-1 1s.448 1 1 1h7c.552 0 1-.448 1-1s-.448-1-1-1z" />
                                            <circle cx="14" cy="9" r="1" />
                                            <circle cx="10" cy="9" r="1" />
                                            <circle cx="6" cy="9" r="1" />
                                            <path
                                                d="m19 10h7c.552 0 1-.448 1-1s-.448-1-1-1h-7c-.552 0-1 .448-1 1s.448 1 1 1z" />
                                        </g>
                                    </g>
                                </svg>
                            </i>
                            <span>serveurs</span>
                        </div>
                        <div class="value"> 32 </div>
                    </div>
                    <div class="spec">
                        <div class="label">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36.5 5C34.0262 5.00241 31.7683 6.40881 30.6752 8.62801C29.5822 10.8472 29.8436 13.4945 31.3496 15.457L25.7734 22.5L17.8242 22.5C17.1292 19.5694 14.5119 17.5002 11.5 17.5C7.91015 17.5 5 20.4101 5 24C5 27.5899 7.91015 30.5 11.5 30.5C14.509 30.4962 17.122 28.4278 17.8164 25.5L25.7734 25.5L31.3496 32.543C29.8436 34.5055 29.5822 37.1528 30.6752 39.372C31.7683 41.5912 34.0262 42.9976 36.5 43C40.0899 43 43 40.0899 43 36.5C43 32.9101 40.0899 30 36.5 30C35.5222 30.0024 34.5574 30.2254 33.6777 30.6523L28.4141 24L33.6758 17.3516C34.5564 17.7775 35.5218 17.9991 36.5 18C40.0899 18 43 15.0899 43 11.5C43 7.91015 40.0899 5 36.5 5L36.5 5Z"
                                        id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>
                            <span>Internet</span>
                        </div>
                        <div class="value"> 1GBP/s max
                        </div>
                    </div>
                    <div class="spece">
                        <a class="button">
                            <i class="pico pico-svg">
                                <svg width="18px" height="18px" viewBox="0 0 48 48" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0488 2C23.6621 1.98793 23.2856 2.12579 22.998 2.38477C22.998 2.38477 15.4902 9 6.5 9C5.67161 9.00008 5.00008 9.67161 5 10.5L5 22.7598C5 29.4378 8.08941 40.4264 23.418 46.8828C23.7902 47.0395 24.2098 47.0395 24.582 46.8828C39.9106 40.4264 43 29.4378 43 22.7598L43 10.5C42.9997 9.67124 42.328 8.99988 41.4996 9C32.5098 9 25.002 2.38477 25.002 2.38477C24.7395 2.14827 24.4019 2.01202 24.0488 2L24.0488 2ZM24 16C26.761 16 29 18.239 29 21C29 22.63 28.208 24.0646 27 24.9766L27 30C27 31.657 25.657 33 24 33C22.343 33 21 31.657 21 30L21 24.9766C19.792 24.0636 19 22.63 19 21C19 18.239 21.239 16 24 16L24 16Z"
                                        id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none"
                                        clip-path="url(#clip_1)"></path>
                                </svg>
                            </i>

                            <div class="metas --vertical">
                                <span>Protection</span> <span>Anti DDoS L4</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="price --price" data-price="2.99">
                    <span class="value"> <span class="--value">
                        16,99</span>€ <span class="period --period">/mois</span>
                    </span>

                </div>
                <a href="https://clients.fardihosting.fr/store/basket/config/16" class="btn-commander">Ajouter au
                    panier</a>
            </div>
        </div>
    </div>
</section>