<footer id="footer">
    <div class="container">
        <div class="footer-brand">
            <a href="#" class="footer-logo">
                <img style="width: 200px;" src="/assets/img/nodm.png" alt="Fardihosting Logo">
            </a>
            <p>Votre partenaire d'hébergement fiable pour des performances optimales, un support 24/7 et une activation instantanée.</p>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h2>À Propos</h2>
                <ul>
                    <li><a href="#">Notre Histoire</a></li>
                    <li><a href="#">Équipe</a></li>
                    <li><a href="#">Carrières</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Services</h2>
                <ul>
                    <li><a href="/vps">VPS</a></li>
                    <li><a href="/srvgames">Hébergement de Jeux</a></li>
                    <li><a href="/minebox">MineBox</a></li>

                </ul>
            </div>
            <div class="footer-column">
                <h2>Support</h2>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Assistance</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>légal</h2>
                <ul>
                    <li><a href="#">CGU</a></li>
                    <li><a href="#">CGV</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2024 Fardihosting — <a href="https://twitter.com/Fardihosting" target="_blank">@Fardihosting</a></p>
            <div class="social-icons">
                <a href="https://twitter.com/Fardihosting" target="_blank">
                    <svg fill="currentColor" width="24" height="24" class="icon" viewBox="0 0 24 24">
                        <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                    </svg>
                </a>
                <a href="https://twitter.com/Fardihosting" target="_blank">
                    <svg fill="currentColor" class="icon" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z" />
                    </svg>
                </a>
                <a href="https://www.instagram.com/Fardihosting" target="_blank">
                    <svg fill="none" stroke="currentColor" class="icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/company/fardihosting" target="_blank">
                    <svg fill="currentColor" stroke="currentColor" class="icon" viewBox="0 0 24 24">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" />
                        <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
