
/*******************************************************************************
 *                                                                             *
 * Frame Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

/* Frame Bar */
#frameBar {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-user-select: none;
  }
  
  /* Undraggable region on the top of the frame. */
  #frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
  }
  
  /* Flexbox to wrap the main frame content. */
  #frameMain {
    display: flex;
    height: 20px;
  }
  
  /* Undraggable region on the left and right of the frame. */
  .frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
  }
  
  /* Main frame content for windows. */
  #frameContentWin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-app-region: drag;
  }
  
  /* Main frame content for darwin. */
  #frameContentDarwin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    -webkit-app-region: drag;
  }
  
  /* Frame logo (windows only). */
  #frameTitleDock {
    padding: 0px 10px;
  }
  
  #frameTitleText {
    font-size: 14px;
    font-family: "Avenir Medium";
    letter-spacing: 0.5px;
  }
  
  /* Windows frame button dock. */
  #frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -2px;
    right: -2px;
    height: 22px;
  }
  
  #frameButtonDockWin > .frameButton:not(:first-child) {
    margin-left: -4px;
  }
  
  /* Darwin frame button dock: NaN; */
  #frameButtonDockDarwin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -1px;
    right: -1px;
  }
  
  /* Windows Frame Button Styles. */
  .frameButton {
    background: none;
    border: none;
    height: 22px;
    width: 39px;
    cursor: pointer;
  }
  
  .frameButton:hover,
  .frameButton:focus {
    background: rgba(189, 189, 189, 0.43);
  }
  
  .frameButton:active {
    background: rgba(156, 156, 156, 0.43);
  }
  
  .frameButton:focus {
    outline: 0px;
  }
  
  /* Close button is red. */
  #frameButton_close:hover,
  #frameButton_close:focus {
    background: rgba(255, 53, 53, 0.61) !important;
  }
  
  #frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
  }
  
  /* Darwin Frame Button Styles. */
  .frameButtonDarwin {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 0px;
    margin-left: 5px;
    -webkit-app-region: no-drag !important;
    cursor: pointer;
  }
  
  .frameButtonDarwin:focus {
    outline: 0px;
  }
  
  #frameButtonDarwin_close {
    background-color: #e74c32;
  }
  
  #frameButtonDarwin_close:hover,
  #frameButtonDarwin_close:focus {
    background-color: #ff9a8a;
  }
  
  #frameButtonDarwin_close:active {
    background-color: #ff8d7b;
  }
  
  #frameButtonDarwin_minimize {
    background-color: #fed045;
  }
  
  #frameButtonDarwin_minimize:hover,
  #frameButtonDarwin_minimize:focus {
    background-color: #ffe9a9;
  }
  
  #frameButtonDarwin_minimize:active {
    background-color: #ffde7b;
  }
  
  #frameButtonDarwin_restoredown {
    background-color: #96e734;
  }
  
  #frameButtonDarwin_restoredown:hover,
  #frameButtonDarwin_restoredown:focus {
    background-color: #d6ffa6;
  }
  
  #frameButtonDarwin_restoredown:active {
    background-color: #bfff76;
  }






  /* Range Slider styles. */
.rangeSlider {
  width: 35%;
  height: 5px;
  margin: 15px 0px;
  background: grey;
  border-radius: 3px;
  position: relative;
}

.rangeSliderBar {
  position: absolute;
  background: #8be88b;
  width: 50%;
  height: 5px;
  border-radius: 3px 0px 0px 3px;
  transition: background 0.25s ease;
}

.rangeSliderTrack {
  position: absolute;
  top: -7.5px;
  width: 7px;
  height: 20px;
  background: white;
  border-radius: 3px;
  left: 50%;
  cursor: ew-resize;
}



.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  box-sizing: border-box;
}

.toggleSwitch input {
  display: none;
}

.toggleSwitchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.35);
  transition: 0.4s;
  border-radius: 50px;
  border: 1px solid rgba(126, 126, 126, 0.57);
}

.toggleSwitchSlider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  transition: 0.4s;
}

input:checked + .toggleSwitchSlider {
  background-color: rgb(31, 140, 11);
  /* box-shadow: inset 2px 1px 20px black; */
  border: 1px solid rgb(31, 140, 11);
}

input:checked + .toggleSwitchSlider:before {
  transform: translateX(15px);
}